<!DOCTYPE html>
<html>
<head>
  <title>Check Google Page Rank of a web</title>
  <meta name="description" content="Check Google Page Rank of a web with latest algorithm change on October 2011">
  <meta name="keywords" content="Google Page Rank, Page Rank, PR, pr algorithm update">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6852766-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

	<div id="wrapper">
    <div id="header">
    	<div id="logo">
    		<h1>
    		  <%= link_to 'Check google pagerank of a web', '/' %>
    		</h1>
      </div>
    </div>    
    <div id="page">
		  <div id="content">
			  <div id="post"><%= yield  %></div>
		  </div> 
	    <div id="sidebar">
				<div id="ad_block_side">
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-6226687068928040";
          /* Caja cuadrada derecha PageRank */
          google_ad_slot = "0931966224";
          google_ad_width = 250;
          google_ad_height = 250;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
				</div>
				<div id="ad_block_side_large">
          <script type="text/javascript"><!--
          google_ad_client = "ca-pub-6226687068928040";
          /* Anuncio 160x600 PageRank */
          google_ad_slot = "1731786379";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
				</div>
        <!-- 
        <div id="cloud">
				  <h3><%= t('.cloud')%></h3>
 					<div id="cloud_block">
  				  <%# tag_cloud Post.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class| %>
	  			    <%#= link_to tag.name, tag_path(tag.name), :class => css_class %>
  	  		  <%# end %>
          </div>
        </div>
        -->
		  </div>
		<div class="clear"></div>
	  </div>	<!-- end #page -->	
  </div>


</body>
</html>
