<!DOCTYPE html>
<html>
<head>
  <title>Check Google Page Rank of a web</title>
  <meta name="description" content="Check Google Page Rank of a web with latest algorithm change on October 2011">
  <meta name="keywords" content="Google Page Rank, Page Rank, PR, pr algorithm update">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-6852766-5']);
    _gaq.push(['_trackPageview']);
  	_gaq.push(['_gat._anonymizeIp']);
  	_gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

	<div id="wrapper">
    <div id="header">
    	<div id="logo">
    		<h1>
    		  <%= link_to 'Check google pagerank of a web', '/' %>
    		</h1>
      </div>
    </div>    
    <div id="page">
		  <div id="content">
			  <div id="post"><%= yield  %></div>
		  </div> 
	    <div id="sidebar">
				<div id="ad_block_side">
          <%= render 'ads/box_up_side' %>
				</div>
				<div id="ad_block_side_large">
          <%= render 'ads/skyscraper' %>
				</div>
		  </div>
		<div class="clear"></div>
	  </div>	<!-- end #page -->	
  </div>


</body>
</html>
